.version.luxury_yachts /* version checker */
{
	color: #0000F9;
	background-color: #071876;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 3323.949999999911px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -73px;
	width: 0.01px;
}

#u12689
{
	z-index: 198;
	height: 60px;
}

#u12689-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 198;
	top: 0px;
}

#accordionu12692
{
	z-index: 201;
}

#u12693
{
	z-index: 202;
}

#u12717-3
{
	z-index: 203;
	min-height: 40px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u12717-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	margin: 0px;
}

#u12717-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	margin: 0px;
}

#u12717-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	margin: 0px;
}

#u12694
{
	z-index: 206;
	padding-top: 1px;
	padding-bottom: 2px;
}

#u12700-4
{
	z-index: 219;
	width: 352px;
	min-height: 12px;
	padding: 14px;
}

#u12700-4:hover
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 12px;
	width: 352px;
	margin: 0px;
}

#u12700-4.MuseLinkActive
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 12px;
	width: 352px;
	margin: 0px;
}

#u12699-4
{
	z-index: 211;
	width: 352px;
	min-height: 3px;
	padding: 14px;
}

#u12699-4:hover
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 3px;
	width: 352px;
	margin: 0px;
}

#u12702-4
{
	z-index: 207;
	width: 352px;
	min-height: 3px;
	padding: 14px;
}

#u12699-4.MuseLinkActive,#u12702-4:hover
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 3px;
	width: 352px;
	margin: 0px;
}

#u12701-4
{
	z-index: 215;
	width: 352px;
	min-height: 2px;
	padding: 14px;
	top: -1px;
	margin-bottom: -1px;
}

#u12701-4:hover
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 2px;
	width: 352px;
	margin: 0px 0px -1px;
}

#u12701-4.MuseLinkActive
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 2px;
	width: 352px;
	margin: 0px 0px -1px;
}

#u12704-4
{
	z-index: 227;
	width: 352px;
	min-height: 3px;
	padding: 14px;
}

#u12702-4.MuseLinkActive,#u12704-4:hover
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 3px;
	width: 352px;
	margin: 0px;
}

#u12703-4
{
	z-index: 223;
	width: 352px;
	min-height: 3px;
	padding: 14px;
}

#u12704-4.MuseLinkActive,#u12703-4:hover
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 3px;
	width: 352px;
	margin: 0px;
}

#u12703-4.MuseLinkActive
{
	padding-top: 14px;
	padding-bottom: 14px;
	min-height: 3px;
	width: 352px;
	margin: 0px;
}

#accordionu12692-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 201;
	top: 0px;
}

#u12727,#u12727-bw
{
	z-index: 197;
	height: 230px;
}

#pu12719
{
	width: 0.01px;
	padding-bottom: 36px;
	margin-left: 31px;
	margin-top: -218px;
}

#u12719
{
	z-index: 235;
	width: 33px;
	top: 14px;
	left: 31px;
}

#u12718-4
{
	z-index: 231;
	width: 145px;
	min-height: 21px;
	top: 18px;
	left: 70px;
}

#u12690
{
	z-index: 199;
	width: 51px;
	top: 12px;
	left: 315px;
}

#u13314-4
{
	z-index: 9;
	width: 133px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-left: 123px;
	margin-top: 29px;
	position: relative;
}

#u13315
{
	z-index: 13;
	width: 45px;
	height: 3px;
	background-color: #3A3F42;
	margin-left: 168px;
	margin-top: 20px;
	position: relative;
}

#u13315:hover
{
	width: 45px;
	height: 3px;
	min-height: 0px;
	margin: 20px 0px 0px 168px;
}

#ppu13334
{
	width: 0.01px;
	margin-left: -290px;
	margin-top: 33px;
}

#pu13334
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u13334
{
	z-index: 14;
	width: 221px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u13336
{
	z-index: 15;
	width: 221px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 27px;
	position: relative;
}

#u13364
{
	z-index: 17;
	width: 320px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 320px;
	background: transparent url("../../images/11358_130_sportyacht-u12363-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u13364
{
	background-image: url("../../images/11358_130_sportyacht-u12363-fr_2x.jpg");
}

#pu13338
{
	width: 0.01px;
	margin-left: -284px;
}

#u13338
{
	z-index: 16;
	width: 221px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu13367
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 314px;
}

#u13367
{
	z-index: 20;
	width: 320px;
	background-color: #257DB8;
	padding-bottom: 11px;
	position: relative;
}

#u13368-4
{
	z-index: 21;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u13370
{
	z-index: 26;
	width: 2px;
	height: 18px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 136px;
}

#buttonu13395
{
	z-index: 75;
	width: 153px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 151px;
}

#u13397-4
{
	z-index: 76;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#buttonu13395:hover #u13397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#u13396-4
{
	z-index: 80;
	width: 45px;
	min-height: 15px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
	text-align: right;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#u13369
{
	z-index: 25;
	width: 290px;
	background-color: #FFFFFF;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	padding: 19px 10px 20.200000000000728px 20px;
}

#u13371-4
{
	z-index: 27;
	width: 179px;
	min-height: 24px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13372-4
{
	z-index: 31;
	width: 290px;
	min-height: 57px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u13373
{
	z-index: 35;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u13404
{
	z-index: 102;
	width: 28px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u13374
{
	z-index: 36;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 161px;
}

#u13365
{
	z-index: 18;
	width: 320px;
	height: 220px;
	margin-left: 30px;
	margin-top: 36px;
	position: relative;
	background: transparent url("../../images/luxury%20yacht%20princess%20iolanthe%20-%20image%20courtesy%20of%20mondo%20marine-u12378-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u13365
{
	background-image: url("../../images/luxury%20yacht%20princess%20iolanthe%20-%20image%20courtesy%20of%20mondo%20marine-u12378-fr_2x.jpg");
}

#u13375
{
	z-index: 37;
	width: 320px;
	background-color: #257DB8;
	padding-bottom: 11px;
	margin-left: 30px;
	position: relative;
}

#u13376-4
{
	z-index: 38;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u13378
{
	z-index: 43;
	width: 2px;
	height: 18px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 136px;
}

#buttonu13398
{
	z-index: 84;
	width: 153px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 157px;
}

#u13399-4
{
	z-index: 85;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#buttonu13395.ButtonSelected #u13397-4,#buttonu13398:hover #u13399-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#u13400-4
{
	z-index: 89;
	width: 45px;
	min-height: 15px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
	text-align: right;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#u13377
{
	z-index: 42;
	width: 290px;
	background-color: #FFFFFF;
	margin-left: 30px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	padding: 19px 10px 20.2000000000005px 20px;
}

#u13379-4
{
	z-index: 44;
	width: 179px;
	min-height: 24px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13380-4
{
	z-index: 48;
	width: 290px;
	min-height: 57px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u13381
{
	z-index: 52;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u13383
{
	z-index: 54;
	width: 28px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u13382
{
	z-index: 53;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 161px;
}

#u13366
{
	z-index: 19;
	width: 320px;
	height: 220px;
	margin-left: 30px;
	margin-top: 36px;
	position: relative;
	background: transparent url("../../images/steel-mega-yacht-custom-20404-4784243.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u13366
{
	background-image: url("../../images/steel-mega-yacht-custom-20404-4784243_2x.jpg");
}

#u13385
{
	z-index: 56;
	width: 320px;
	background-color: #257DB8;
	padding-bottom: 11px;
	margin-left: 30px;
	position: relative;
}

#u13386-4
{
	z-index: 57;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u13388
{
	z-index: 62;
	width: 2px;
	height: 18px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 136px;
}

#buttonu13401
{
	z-index: 93;
	width: 156px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 157px;
}

.bay1,.bay2,.bay3
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u13403-4
{
	z-index: 94;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#buttonu13398.ButtonSelected #u13399-4,#buttonu13401:hover #u13403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#u13402-4
{
	z-index: 98;
	width: 45px;
	min-height: 15px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
	text-align: right;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#u13387
{
	z-index: 61;
	width: 290px;
	background-color: #FFFFFF;
	margin-left: 30px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	padding: 19px 10px 20.200000000000728px 20px;
}

#u13389-4
{
	z-index: 63;
	width: 179px;
	min-height: 24px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13390-4
{
	z-index: 67;
	width: 290px;
	min-height: 57px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u13391
{
	z-index: 71;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u13393
{
	z-index: 73;
	width: 28px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u13392
{
	z-index: 72;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 161px;
}

#u13409
{
	z-index: 104;
	width: 320px;
	height: 220px;
	margin-left: 30px;
	margin-top: 44px;
	position: relative;
	background: transparent url("../../images/45m%20bilgin%20yacht%20tatiana%20-%20exterior%20desinged%20by%20joachim%20kinder-u13409-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u13409
{
	background-image: url("../../images/45m%20bilgin%20yacht%20tatiana%20-%20exterior%20desinged%20by%20joachim%20kinder-u13409-fr_2x.jpg");
}

#u13412
{
	z-index: 107;
	width: 320px;
	background-color: #257DB8;
	padding-bottom: 12px;
	margin-left: 30px;
	position: relative;
}

#u13413-4
{
	z-index: 108;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u13415
{
	z-index: 113;
	width: 2px;
	height: 18px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 136px;
}

#buttonu13448
{
	z-index: 182;
	width: 153px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 151px;
}

#buttonu13448.ButtonSelected
{
	width: 153px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u13449-4
{
	z-index: 183;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#buttonu13401.ButtonSelected #u13403-4,#buttonu13448:hover #u13449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#u13450-4
{
	z-index: 187;
	width: 45px;
	min-height: 15px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
	text-align: right;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#u13414
{
	z-index: 112;
	width: 290px;
	background-color: #FFFFFF;
	margin-left: 30px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	padding: 19px 10px 20.200000000000728px 20px;
}

#u13416-4
{
	z-index: 114;
	width: 179px;
	min-height: 24px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13417-4
{
	z-index: 118;
	width: 290px;
	min-height: 57px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u13418
{
	z-index: 122;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u13446
{
	z-index: 180;
	width: 28px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u13419
{
	z-index: 123;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 161px;
}

#u13410
{
	z-index: 105;
	width: 320px;
	height: 220px;
	margin-left: 30px;
	margin-top: 44px;
	position: relative;
	background: transparent url("../../images/232228.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u13410
{
	background-image: url("../../images/232228_2x.jpg");
}

#u13420
{
	z-index: 124;
	width: 320px;
	background-color: #257DB8;
	padding-bottom: 11px;
	margin-left: 30px;
	position: relative;
}

#u13421-4
{
	z-index: 125;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u13423
{
	z-index: 130;
	width: 2px;
	height: 18px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 136px;
}

#buttonu13440
{
	z-index: 162;
	width: 153px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 157px;
}

#buttonu13395.ButtonSelected,#buttonu13398.ButtonSelected,#buttonu13440.ButtonSelected
{
	width: 153px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#u13441-4
{
	z-index: 163;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#buttonu13448.ButtonSelected #u13449-4,#buttonu13440:hover #u13441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#u13442-4
{
	z-index: 167;
	width: 45px;
	min-height: 15px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
	text-align: right;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#u13422
{
	z-index: 129;
	width: 290px;
	background-color: #FFFFFF;
	margin-left: 30px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	padding: 19px 10px 20.199999999999818px 20px;
}

#u13424-4
{
	z-index: 131;
	width: 179px;
	min-height: 24px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13425-4
{
	z-index: 135;
	width: 290px;
	min-height: 57px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u13426
{
	z-index: 139;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u13428
{
	z-index: 141;
	width: 28px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u13427
{
	z-index: 140;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 161px;
}

#u13411
{
	z-index: 106;
	width: 320px;
	height: 220px;
	margin-left: 30px;
	margin-top: 44px;
	position: relative;
	background: transparent url("../../images/absolute_yacht_70sty_01.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u13411
{
	background-image: url("../../images/absolute_yacht_70sty_01_2x.jpg");
}

#u13430
{
	z-index: 143;
	width: 320px;
	background-color: #257DB8;
	padding-bottom: 11px;
	margin-left: 30px;
	position: relative;
}

#u13431-4
{
	z-index: 144;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u13368-4:hover,#u13376-4:hover,#u13386-4:hover,#u13413-4:hover,#u13421-4:hover,#u13431-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 111px;
	margin: 13px -10000px 0px 0px;
}

#u13433
{
	z-index: 149;
	width: 2px;
	height: 18px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 136px;
}

#buttonu13443
{
	z-index: 171;
	width: 156px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 157px;
}

#buttonu13401.ButtonSelected,#buttonu13443.ButtonSelected
{
	width: 156px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#u13444-4
{
	z-index: 172;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#buttonu13440.ButtonSelected #u13441-4,#buttonu13443:hover #u13444-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#buttonu13443.ButtonSelected #u13444-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 3px -10000px 0px 0px;
}

#u13445-4
{
	z-index: 176;
	width: 45px;
	min-height: 15px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
	text-align: right;
	color: #FFFFFF;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#buttonu13395.ButtonSelected #u13396-4,#buttonu13398.ButtonSelected #u13400-4,#buttonu13401.ButtonSelected #u13402-4,#buttonu13448.ButtonSelected #u13450-4,#buttonu13440.ButtonSelected #u13442-4,#buttonu13443.ButtonSelected #u13445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 45px;
	margin: 4px -10000px 0px 0px;
}

#u13432
{
	z-index: 148;
	width: 290px;
	background-color: #FFFFFF;
	margin-left: 30px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	padding: 19px 10px 20.200000000000728px 20px;
}

#u13434-4
{
	z-index: 150;
	width: 179px;
	min-height: 24px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13371-4:hover,#u13379-4:hover,#u13389-4:hover,#u13416-4:hover,#u13424-4:hover,#u13434-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 179px;
	margin: 0px;
}

#u13435-4
{
	z-index: 154;
	width: 290px;
	min-height: 57px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u13372-4:hover,#u13380-4:hover,#u13390-4:hover,#u13417-4:hover,#u13425-4:hover,#u13435-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 290px;
	margin: 14px 0px 0px;
}

#pu13373,#pu13381,#pu13391,#pu13418,#pu13426,#pu13436
{
	width: 0.01px;
	margin-top: 24px;
}

#u13436
{
	z-index: 158;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u13438
{
	z-index: 160;
	width: 28px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u13437
{
	z-index: 159;
	width: 119px;
	height: 1px;
	background-color: #365667;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 161px;
}

#u13373:hover,#u13374:hover,#u13381:hover,#u13382:hover,#u13391:hover,#u13392:hover,#u13418:hover,#u13419:hover,#u13426:hover,#u13427:hover,#u13436:hover,#u13437:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 119px;
	height: 1px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#pu13484-4
{
	width: 0.01px;
	margin-left: 250px;
	margin-top: 20px;
}

#u13484-4
{
	z-index: 193;
	width: 58px;
	min-height: 10px;
	background-color: transparent;
	text-align: right;
	font-size: 10px;
	line-height: 12px;
	color: #3A3F42;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u13484-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 58px;
	margin: 9px -10000px 0px 0px;
}

#u13462
{
	z-index: 191;
	width: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u13343
{
	z-index: 2;
	min-height: 52px;
	padding-bottom: 21px;
}

#u13344-6
{
	z-index: 3;
	width: 328px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 26px;
}

#u13343-bw
{
	z-index: 2;
	min-height: 52px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 72px;
}

#page .verticalspacer
{
	clear: both;
}

