#u12170
{
	-pie-box-shadow: 2px 1px 4px #CCCCCC;
	box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
	background-color: #FFFFFF;
}

#accordionu12176
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12183-3
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u12177,#u12183-3:active
{
	background-color: transparent;
}

#u12183-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
}

#u12178
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#u12180-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12180-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #365667;
}

#u12180-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12179-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12179-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #365667;
}

#u12179-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12182-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12182-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #365667;
}

#u12182-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12181-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12181-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #365667;
}

#u12181-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12277-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12277-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #365667;
}

#u12277-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12276-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12276-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #365667;
}

#u12180-4.MuseLinkActive,#u12179-4.MuseLinkActive,#u12182-4.MuseLinkActive,#u12181-4.MuseLinkActive,#u12277-4.MuseLinkActive,#u12276-4.MuseLinkActive
{
	border-color: #000000;
	background-color: #365667;
}

#u12276-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#slideshowu18887
{
	position: relative;
}

#u18895
{
	position: absolute;
	background-color: transparent;
}

#u18898,#u18900,#u18896
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* accordion */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u12273,#u12174
{
	background-color: transparent;
	position: fixed;
}

#u12272-4
{
	background-color: transparent;
	color: #365667;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: telex, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u12288
{
	background-color: #365667;
}

#u12289-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

